.skills__container{
    /* grid-template-columns: repeat(2,350px); */
    column-gap: 3rem;
    justify-content: center;
}
.skill_main_card{
    border: 1px solid #edf1f5;
    border-radius: 5px 12px 8px 20px;
}
.skill__skill_view{
    border: 0.5px solid gray;
    text-align: center;
    margin: 0px 5px 0px 2px;
    padding: 8px 2px 2px 2px;
    border-radius: 35px 0px 40px 100px;
    background-color: white;
}
.skill__skill_view:hover{
    background-color: lightsteelblue;
}
.skill__img{
    width: 125px;
    justify-self: center;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(202, 52, 52, 0.1);
    padding: 2rem 4rem;
    border: 1.25rem;
}


.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1)-5;
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}

.skills .uil-check-circle{
    font-size: 1rem;
    color: var(--title-color); 
}

.skills__name{
    font-size: var(--small-font-size);
    font-weight: var( --font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}
.react{
    width: 138px;
    height: 155px;
}
/* card css code to start here...... */
.container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .card {
	position: relative;
    width: 210px;
	height: 230px;
	background: rgba(255, 255, 255, 0.05);
	/* background: var(background-color); */
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 145px;
	height: 155px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	/* bottom: 50px; */
    bottom: 8px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}
.container .card:hover{
    background-color: black;
    /* background-color: #edf1f5; */
}
.container .card .sci li a {
	color: #fff;
	/* color: #000; */
	font-size: 20px;
    margin-right: 30px;
    font-weight: var(--font-medium);
}

/* ---------------- BREAKPOINTS -------------------- */

/* -------- for large device ---- */

@media screen and (max-width:992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

/* -------- for medium device ---- */

@media screen and (max-width:576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills__content{
        padding: 1.5rem;
    }
}

/* -------- for small device ---- */

@media screen and (max-width:350px) {
    .skills__box{
        column-gap: 1.25rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }
 
}


